.container {
  width: 100%;
  height: 100%;

  border-radius: 15px;
}
.container > img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.content {
  height: 70px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}

.avatar {
  position: absolute;
  border: 5px solid #19191a;

  top: -50px;
  left: 15px;
}

@media (max-width: 400px) {
  .avatar {
    display: none;
  }
  .info {
    width: 100%;
    flex: 2;
    margin-left: 0px;
  }
}
.info {
  width: 200px;
  margin-left: 20px;
  padding-right: 10px;
  flex: 1;
}
